{%extends 'base.html'%}
{%block content%}
<h2>OUR DISHES</h2>

<h4 class="d-bouf">BOUF</h4>
<section class="dishe">
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer03.jpg')}}" alt="">
        <p class="text"><span>Bouf</span>
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer04.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer05.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer06.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer07.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer08.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer09.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer10.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer11.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer12.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer13.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer14.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer15.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer17.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer18.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer19.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer20.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer21.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer22.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer23.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer24.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer25.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer26.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer27.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer28.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer29.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
</section>
<h4 class="d-fruits">FRUITS</h4>
<section class="dishe">
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer30.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer31.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer32.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer33.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer34.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer35.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer36.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer37.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer38.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer39.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer40.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer41.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer42.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>
    <div>
        <img src="{{url_for( 'static', filename = 'img/customer43.jpg')}}" alt="">
        <p class="text"><span>Bouf</span> 
            <br>
            <a href="{{url_for('command')}}">=>Command</a>
        </p>
    </div>

</section>
<h5><a href="{{url_for('command')}}" class="d-cmd">Command whatever you want =></a></h5>
{%endblock%}
