<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename = 'essai.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="head">
            <img class = "logo" src="{{url_for( 'static', filename = 'img/logo01.jpg')}}" alt="">
            <p class="title">CoolRoom</p>
            <nav class="nav">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Command</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="connect">Se Connecter</li>
                </ul>
            </nav>
            <div class="bar">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="cache">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Command</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="connect">Se Connecter</li>
                </ul>
            </nav>

       </section>
    </header>
    <section class="btns">
        <button class="btn">Open</button>
        <button class="btn">Close</button>
    </section>







































    <script src="{{url_for('static', filename = 'essai.js')}}"></script>
</body>
</html>