<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pk_dishes</title>
    <link rel="stylesheet" href="{{url_for('static' ,filename = 'essai.css')}}">
</head>
<body>
    <h1>Hello World!!!</h1>

    <header>
        <section class="nav01">
            <p class = "title">Pk_Well</p>

            <div class="nav02">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Nos Services</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contacts</a></li>       
                </ul>   
            </div>
                <p> <b>Boite a suggestion</b></p>
            <div class = "cache">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Nos Services</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contacts</a></li>       
                </ul> 
            </div>

        </section>
    </header>
    


    <script src="{{url_for('static', filename = 'essai.js')}}"></script>
</body>
</html>